*
!app
!public/
!avatars/
!public/avatars/team-1.jpg
!public/avatars/team-2.jpg
!public/avatars/team-3.jpg

!items/
!public/items/home-decor-1.jpg
!public/items/home-decor-2.jpg
!public/items/jordan.jpg

!avatars-seed/
!public/avatars-seed/team-1.jpg
!public/avatars-seed/team-2.jpg
!public/avatars-seed/team-3.jpg
!items-seed/
!public/items-seed/home-decor-1.jpg
!public/items-seed/home-decor-2.jpg
!public/items-seed/jordan.jpg

!.gitignore
